<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Competency Assessment Generator</title>
    <link rel="stylesheet" href="/css/style.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9RBCK0N11Z"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-9RBCK0N11Z');
    </script>
</head>
<body>
    <div class="container">
        <h1 class="title">CyberGauge: Competency Assessment Generator</h1>
        
        <div class="form-group">
            <label for="job-grade">Job Grade</label>
            <select id="job-grade">
                <option value="D-F">D-F</option>
                <option value="G-J">G-J</option>
                <option value="K-M">K-M</option>
            </select>
        </div>

        <div id="competencies-section" class="competencies-section"></div>

        <div class="total-section">
            <h3 class="section-title">Total No. of Questions</h3>
            <div class="question-count">
                <label for="total-mcq">MCQ</label>
                <input type="text" id="total-mcq" readonly>
                
                <label for="total-oe">OE</label>
                <input type="text" id="total-oe" readonly>
                
                <label for="total-e">E</label>
                <input type="text" id="total-e" readonly>
            </div>
            <div style="clear: both;"></div>
            <h3 class="section-title">Assessment Time</h3>
            <div class="time-count">
                <label for="time-mcq">MCQ</label>
                <input type="text" id="time-mcq" readonly>
                
                <label for="time-oe">OE</label>
                <input type="text" id="time-oe" readonly>
                
                <label for="time-e">E</label>
                <input type="text" id="time-e" readonly>
            </div>
            <div style="clear: both;"></div>
            <div class="total-time-wrapper">
                <label for="total-time" class="section-title">Total Time</label>
                <input type="text" id="total-time" readonly>
            </div>
        </div>
        
        <div class="time-per-question">
            <h3><strong>Assessment time computed based on time allocated per question</strong></h3>
            <p><strong>MCQ:</strong> 1 min/question, <strong>OE:</strong> 3 mins/question, <strong>E:</strong> 30 mins/question</p>
        </div>

        <div class="legends">
            <h3><strong>Legends</strong></h3>
            <p><strong>PL:</strong> Proficiency Level, <strong>MCQ:</strong> Multiple Choice Questions, <strong>OE:</strong> Open-ended Questions, <strong>E:</strong> Essay Questions</p>
        </div>

        <button onclick="generateAssessment()" class="generate-button">Generate Assessment</button>

        <div id="assessment-output" class="assessment-output">
            <div id="messages">
                <h3>Generated Assessment Placeholder</h3>
                <p>Your generated assessment will appear here.</p>
            </div>

            <div id="table-container"></div>
        </div>

        <footer class="disclaimer">
            <p>
                Disclaimer: This website is created for learning purposes only. The information provided here should not be considered professional advice. Please note that we make no guarantees regarding the accuracy, completeness, or reliability of the contents of this website. Any actions you take based on the contents of this website are at your own risk. We are not liable for any losses or damages incurred from the use of this website.
            </p>
        </footer>
        
    </div>

    <script src="script.js"></script>
</body>
</html>
